*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

.main-img{
    background-image: url(assets/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1080px;
}

.navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    color: white;
}

.logo h1{
    font-size: 42px;
}

.nav-links{
    display: flex;
    gap: 50px;
    font-size: 18px;
}

.nav-links li a{
    color: white;
}

.nav-links li a:hover{
    color: rgb(39, 172, 255);
}

.navbar-button{
    width: 125px;
    height: 45px;
    border: 1px solid rgb(39, 172, 255);
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
}

.navbar-button:hover{
    transform: scale(1.05);
    font-size: 16px;
}

.navbar-button a{
    color: white;
}

.homepage-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 180px 180px;
    gap: 15px;
    height: 800px;
    color: white;
}

.homepage-header{
    font-size: 60px;
}

.homepage-w{
    font-size: 28px;
}

.homepage-p{
    text-align: center;
    font-size: 18px;
    line-height: 3vh;
}

.homepage-button{
    width: 147px;
    height: 55px;
    border: 1px solid rgb(39, 172, 255);
    background-color: transparent;
    border-radius: 18px;
    margin-top: 10px;
}

.homepage-button:hover{
    transform: scale(1.05);
}

.homepage-button a{
    color: white;
    font-size: 16px;
}