*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior:smooth

}

body{
    background-color: #0B0025;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* Homepage */

 .main-img{
    background-image: url(assets/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1080px;
} 

.navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
    color: white;
}

.logo h1{
        font-size: clamp(20px, 4vw, 42px);
}

.nav-links{
    display: flex;
    gap: 50px;
    font-size: 18px;
}

.nav-links li a{
    color: white;
}

.nav-links li a:hover{
    color: rgb(39, 172, 255);
}

.navbar-button{
    width: 125px;
    height: 45px;
    border: 1px solid rgb(39, 172, 255);
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
}

.navbar-button:hover{
    transform: scale(1.05);
    background-color: rgb(39, 172, 255);;
}

.navbar-button a{
    color: white;
}

.homepage-container{
    display: flex;
    gap: 130px;
    padding: 30px 0;
}

.homepage-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    height: 800px;
    color: white;
}

.homepage-header{
    font-size: 60px;
    transition: opacity 0.2s linear, transform 0.2s linear;
}

.homepage-w{
    font-size: 28px;
    transition: opacity 0.4s linear, transform 0.4s linear;
}

.homepage-p{
    font-size: 16px;
    line-height: 3vh;
    transition: opacity 0.5s linear, transform 0.5s linear;
}

.homepage-button{
    width: 147px;
    height: 55px;
    border: 1px solid rgb(39, 172, 255);
    background-color: transparent;
    border-radius: 18px;
    margin-top: 10px;
    cursor: pointer;
    transition: opacity 0.6s linear, transform 0.6s linear;
}

.homepage-button:hover{
    transform: scale(1.05);
    background-color: rgb(39, 172, 255);
}

.homepage-button a{
    color: white;
    font-size: 16px;
}



 .tagcloud {
    display: inline-block;
    top: 100px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
    font-size: 14px;
  }
  
  .tagcloud--item:hover {
    color: rgb(83, 188, 254) ;
  }

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 20px; 
    }

    .navbar {
        height: auto;
        padding-top: 20px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        display: none;
    }

    .homepage-content {
        padding-top: 60px;
        height: auto;
        align-items: center;
    }

    .homepage-header {
        font-size: 50px;
        text-align: center;
    }

    .homepage-w {
        font-size: 24px;
        text-align: center;
    }

    .homepage-p {
        font-size: 16px;
        text-align: center;
    }

    .homepage-button {
        width: 120px;
        height: 45px;
        font-size: 14px;
        margin-top: 10px;
    }
    
    .homepage-container{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .circles{
        display: flex;
        flex-direction: column;
    }

    .language-sphere{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tagcloud{
        max-width: 330px;
        top: 50px;
        font-size: 12px;
    }

}

/* About Us */

.AboutUs {
    font-family:"Mochiy Pop One";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 80px 0;
    color: white;
}

.AboutUsh1 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 10px;
}

.AboutUs h2{
    font-size: 14px;
    color: rgb(94, 191, 251);
    transition: opacity 0.1s linear, transform 0.3s linear;
}

.AboutUsP {
    margin-top: 20px;
    font-size: 17px;
    line-height: 3.7vh;
    padding: 30px 0;
    transition: opacity 0.1s linear, transform 0.3s linear;
}

.button-20{
    width: 216px;
    height: 55px;
    border: 1px solid rgb(39, 172, 255);
    border-radius: 12px;
    cursor: pointer;
    background-color: transparent;
    transition: opacity 0.1s linear, transform 0.3s linear;
}

.button-20:hover{
    transform: scale(1.05);
    background-color: rgb(39, 172, 255);
}

.button-20 a{
    color: white;
    text-decoration: none;
}

/* Services */

.serviceAll{
    padding: 80px 0;
  }

  .service{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service h1{
    color: white;
    font-size: 40px;
    position: relative;
  }
  .service p {
    color: white;
  }
.service h2 {
    color: white;
}

.service h1:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    height: 10px;
    width: 100%;
}
.service h1 span{
    position: absolute;
    top: 100%;
    left: 10%;
    height: 10px;
    width: 5%;
    border-radius: 100%;
    background-color: rgb(39, 172, 255);
    animation: anim 3s linear infinite;
}

@keyframes anim {
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 90%;
    }
}

.cards {
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 30px;
    margin-top: 80px;
}
.card {
    height: 33,3%;
    width: 33,3%;
    background-color: #160b37;
    padding: 3% 8%;
    border: 0.2px solid rgba(255, 255, 255, 0.371);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.card:after{
    content: '';
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}
.card:hover:after{
    width: 225%;
    top: -100%;
}
.card i {
    margin: 30px 0;
    font-size: 2.5rem;
    color: white;
}
.card p {
    text-align: center;
    width: 100%;
    margin: 12px 0px;
    font-size: 14px;
}
.card:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: rgb(39, 172, 255);
}
.card:hover i{
    color: rgb(39, 172, 255);
}
@media screen and (max-width:1200px){
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:900px){
    .cards{  
    grid-template-columns:repeat(1,1fr)   
}
.service h1 {
    font-size: 2.5rem;
}
}

/* Projects */

.projects-section{
    padding: 80px 0;
    color: white;
}

.projects-section .projects-heading{
    text-align: center;
    padding-bottom: 65px;
}

.projects-heading{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projects-heading h1{
    font-size: 45px;
}

.projects-heading h2{
    font-size: 14px;
    transition: opacity 0.1s linear, transform 0.3s linear;
}


.projects-section .box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 20px;
}

.project-desc{
    margin-top: 15px;
}

.desc-bottom{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.desc-bottom p{
    font-size:  14px;
}

.desc a{
    width: 50px;
    height: 40px;
}

.desc-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color:  rgb(39, 172, 255);
    color: white;
    cursor: pointer;
}


.box img{
    width: 100%;
    height: 200px;
    border-radius: 12px;
    object-fit: contain;
}



@media (max-width: 768px) {
    .projects-section .box-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .container {
        padding: 0 20px; 
    }
  }
  
  @media (max-width: 480px) {
    .projects-section .box-container {
      grid-template-columns: 1fr;
    }
  }

  /* Contact Us */
  
  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    padding: 80px 0;
}

.contactForm h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 45px;
    margin-bottom: 10px;
}

.contactForm h2{
    font-size: 14px;
    margin-bottom: 60px;
    transition: opacity 0.1s linear, transform 0.3s linear;
}

.contactForm p{
    transition: opacity 0.1s linear, transform 0.3s linear;
}

.contactForm input, .contactForm textarea {
    background-color: white;
    width: 60%;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.1s linear, transform 0.3s linear;
}

.contactForm textarea {
    height: auto;
    padding: 16px;
    margin-bottom: 25px;
}

.contactForm input:focus-within, .contactForm textarea:focus-within {
    outline: none;
    border-width: 2px;
}

.contactForm input:focus-within {
    border-color: rgb(39, 172, 255);
}
.contactForm textarea:focus-within {
    border-color: rgb(39, 172, 255);
}


.input-header{
    text-align: left;
    width: 60%;
    margin-bottom: 10px;
    font-size: 18px;
}

.button-64{
    width: 60%;
    height: 56px;
    border: 1px solid rgb(39, 172, 255);
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.1s linear, transform 0.3s linear;
}

.button-64 a{
    text-decoration: none;
    color: white;
}
  
.button-64:hover{
    transform: scale(1.05);
    background-color: rgb(39, 172, 255);
}

  @media (min-width: 768px) {
    .button-64 {
      font-size: 24px;
      min-width: 196px;
    }
  }

  /* animations */
  
  #animation-d, #animation-u, #animation-r, #animation-l, #pop-up {
    opacity: 0;
}

#animation-d {
    transform: translateY(50px);
}

#animation-u {
    transform: translateY(-50px);
}

#animation-r {
    transform: translateX(50px);
}

#animation-l {
    transform: translateX(-50px);
}

#pop-up{
    transform: scale(0);
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}


#animation-d.show, #animation-u.show, #animation-r.show, #animation-l.show, #pop-up.show  {
    opacity: 1;
    transform: translate(0);
}

#pop-up.show{
    transform: scale(1);

}


.footer {
    background: #0B0025;
    padding-top: 50px;
}
.footercontainer {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-content {
    width: 33.3%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}
.footer-content p {
    color: white;
    width: 190px;
    margin: auto;
    padding: 7px;
    margin-top: 10px;
}
.footer-content ul {
    text-align: center;
}
.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #27ACFF;
    transition-duration: .5s;
}
.list li:hover::before {
    width: 70px;
}
.social-icons {
    text-align: center;
    padding: 0;
}
.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i {
    color: white;
    font-size: 25px;
}
.footer-content a {
    text-decoration: none;
    color: white;
}
.footer-content a:hover {
    color: #27ACFF;
}
.social-icons i:hover {
    color: #27ACFF;
}
.bottom-bar {
    background: #0a0020;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p {
    color: white;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .footer-content {
        width: 100%;
    }
}


.team-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 80px 0;
}

.circles{
    display: flex;
    gap: 50px;
    padding: 70px 0;
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

.circle {
    width: 450px;
    height: 500px;
    border-radius: 50%;
    background-color: #160b37;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 0.2px solid rgba(255, 255, 255, 0.371);
}

.circle img {
    width: 100%;
    height: auto;
}

.circle-p{
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (max-width: 768px) {
    .circle{
        width: 300px;
        height: 350px;
    }
    .AboutUsP{
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .container {
        padding: 0 20px; 
    }
}


#page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #160838;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  #h3 {
    color: white;
  }
  
  #ring {
    width: 190px;
    height: 190px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
  }
  
  #ring:nth-child(1) {
    border-bottom: 8px solid #27ACFF;
    animation: rotate1 2s linear infinite;
  }
  
  @keyframes rotate1 {
    from {
      transform: rotateX(50deg) rotateZ(110deg);
    }
    to {
      transform: rotateX(50deg) rotateZ(470deg);
    }
  }
  
  #ring:nth-child(2) {
    border-bottom: 8px solid #27ACFF;
    animation: rotate2 2s linear infinite;
  }
  
  @keyframes rotate2 {
    from {
      transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
    }
    to {
      transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
    }
  }
  
  #ring:nth-child(3) {
    border-bottom: 8px solid #27ACFF;
    animation: rotate3 2s linear infinite;
  }
  
  @keyframes rotate3 {
    from {
      transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
    }
    to {
      transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
    }
  }
  
  #ring:nth-child(4) {
    border-bottom: 8px solid #27ACFF;
    animation: rotate4 2s linear infinite;
  }
  
  @keyframes rotate4 {
    from {
      transform: rotateX(70deg) rotateZ(270deg);
    }
    to {
      transform: rotateX(70deg) rotateZ(630deg);
    }
  }
  

  .cards:nth-child(1),
  .cards:nth-child(4){
    transition: opacity 0.1s linear, transform 0.3s linear;
  }

  .box:nth-child(1),
  .box:nth-child(2),
  .box:nth-child(3){
    transition: opacity 0.1s linear, transform 0.3s linear;
  }

  .box:nth-child(4),
  .box:nth-child(5),
  .box:nth-child(6){
    transition: opacity 0.1s linear, transform 0.3s linear;
  }

  .bottom-right {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    padding: 10px;
    z-index: 100;
  }
  
  .bottom-right button {
    margin-left: 10px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    background-color: rgb(39, 172, 255);
    color: rgb(255, 255, 255);
  }

  .bottom-right button:hover {
    transform: scale(1.1);
  }
  .whatsapp-button {
    position: fixed;
    bottom: 80px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  }
  
  .whatsapp-button a {
    color: white;
    text-decoration: none;
  }
  
  .whatsapp-button i {
    font-size: 36px;
  }
  